---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Research from '../components/Research.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Nowreen Tarannum Rafa | Portfolio">
  <Hero />
  <Experience />
  <Research />
  <Projects />
  
  <footer class="mt-20 pt-8 border-t text-center text-slate-400 text-sm">
    <p>&copy; {new Date().getFullYear()} Nowreen Tarannum Rafa. All Rights Reserved.</p>
  </footer>
</Layout>