---
import '../styles/global.css'

const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/portfolio/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/portfolio/favicon-16x16.png">
        <link rel="manifest" href="/portfolio/site.webmanifest">
    </head>

    <body class="bg-slate-50 text-slate-900 font-sans leading-relaxed">
        <main class="max-w-4xl mx-auto px-6 py-12 md:py-24">
        <slot />
        </main>
    </body>
</html>