---
import '../styles/global.css'

const { title } = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
    </head>

    <body class="bg-slate-50 text-slate-900 font-sans leading-relaxed">
        <main class="max-w-4xl mx-auto px-6 py-12 md:py-24">
        <slot />
        </main>
    </body>
</html>